# Auth database
AUTH_DB_HOST=db_auth
AUTH_DB_PORT=5432
AUTH_DB_NAME=db_autenticacao
AUTH_DB_USER=wonder_user
AUTH_DB_PASSWORD=

# Catalogo database
CATALOGO_DB_HOST=db_catalogo
CATALOGO_DB_PORT=5432
CATALOGO_DB_NAME=db_catalogo
CATALOGO_DB_USER=wonder_user
CATALOGO_DB_PASSWORD=

# Agendamentos database
AGENDAMENTOS_DB_HOST=db_agendamentos
AGENDAMENTOS_DB_PORT=5432
AGENDAMENTOS_DB_NAME=db_agendamentos
AGENDAMENTOS_DB_USER=wonder_user
AGENDAMENTOS_DB_PASSWORD=

# Notificacoes database
NOTIFICACOES_DB_HOST=db_notificacoes
NOTIFICACOES_DB_PORT=5432
NOTIFICACOES_DB_NAME=db_notificacoes
NOTIFICACOES_DB_USER=wonder_user
NOTIFICACOES_DB_PASSWORD=
