# Banco de dados - Auth
AUTH_DB_HOST=db_auth
AUTH_DB_PORT=5432
AUTH_DB_NAME=db_autenticacao
AUTH_DB_USER=wonder_user
AUTH_DB_PASSWORD=

# Banco de dados - Catálogo
CATALOGO_DB_HOST=db_catalogo
CATALOGO_DB_PORT=5432
CATALOGO_DB_NAME=db_catalogo
CATALOGO_DB_USER=wonder_user
CATALOGO_DB_PASSWORD=

# Banco de dados - Agendamentos
AGENDAMENTOS_DB_HOST=db_agendamentos
AGENDAMENTOS_DB_PORT=5432
AGENDAMENTOS_DB_NAME=db_agendamentos
AGENDAMENTOS_DB_USER=wonder_user
AGENDAMENTOS_DB_PASSWORD=
APP_TIMEZONE=America/Fortaleza

# Banco de dados - Notificações
NOTIFICACOES_DB_HOST=db_notificacoes
NOTIFICACOES_DB_PORT=5432
NOTIFICACOES_DB_NAME=db_notificacoes
NOTIFICACOES_DB_USER=wonder_user
NOTIFICACOES_DB_PASSWORD=

# JWT
JWT_SECRET_KEY=
JWT_ALGORITHM=HS256
JWT_EXPIRATION_MINUTES=60

# Google OAuth2
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost:8000/auth/google/callback

# Google Gemini
GEMINI_API_KEY=

# RabbitMQ
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=wonder_user
RABBITMQ_PASSWORD=
RABBITMQ_QUEUE=wonder.eventos
RABBITMQ_EXCHANGE=
RABBITMQ_ROUTING_KEY=wonder.eventos
RABBITMQ_MAX_RETRIES=3
