JWT_SECRET_KEY=wonder_secret_key
JWT_ALGORITHM=HS256

AUTH_SERVICE_URL=http://auth:8001
CATALOGO_SERVICE_URL=http://catalogo:8002
AGENDAMENTOS_SERVICE_URL=http://agendamentos:8003
NOTIFICACAO_SERVICE_URL=http://notificacao:8004
AI_SERVICE_URL=http://ai:8005
