NOTIFICACOES_DB_HOST=db_notificacoes
NOTIFICACOES_DB_PORT=5432
NOTIFICACOES_DB_NAME=db_notificacoes
NOTIFICACOES_DB_USER=wonder_user
NOTIFICACOES_DB_PASSWORD=

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=wonder_user
RABBITMQ_PASSWORD=
RABBITMQ_QUEUE=wonder.eventos
RABBITMQ_EXCHANGE=
RABBITMQ_ROUTING_KEY=wonder.eventos
RABBITMQ_MAX_RETRIES=3

CATALOGO_URL=http://catalogo:8002
