AGENDAMENTOS_DB_HOST=db_agendamentos
AGENDAMENTOS_DB_PORT=5432
AGENDAMENTOS_DB_NAME=db_agendamentos
AGENDAMENTOS_DB_USER=wonder_user
AGENDAMENTOS_DB_PASSWORD=

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=wonder_user
RABBITMQ_PASSWORD=